extends ./layout/index

block contenido
      main.container.mt-5 
        .row 
            .col-md-5 
               img(src="/img/nosotros.jpg",alt="sobre nosotros",class="img-fluid")
            .col-md-7 
               h1 #{pagina} 
               blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque odio, accumsan nec viverra a, ornare eu ipsum. Sed a mi eget quam ullamcorper mollis ac blandit dolor. Quisque sit amet est tortor. Vestibulum vitae erat euismod, laoreet metus eu, maximus ligula. Nulla scelerisque turpis eu mattis consectetur. In placerat eu ante lacinia sodales. 

               p lobortis rutrum lacus, ac ullamcorper eros lobortis a. Fusce ac augue mauris. Praesent dapibus vitae magna at pharetra. Cras arcu lectus, lacinia non pretium ac, pellentesque non tellus. Sed sodales quam mi, id pellentesque felis faucibus non. In sapien nibh, rhoncus sed vehicula eu, posuere non est. Mauris pellentesque felis a porta elementum. 

               p rhoncus tristique dolor vel imperdiet. Suspendisse semper blandit nunc vitae tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas id mi scelerisque felis hendrerit interdum. Aliquam sed hendrerit dolor, vel volutpat mauris. Sed a euismod mauris. Nulla diam augue
      .listado-iconos
         .container.mt-5.py-5.text-center
            .row 
               .col-md-4
                  img(src="/img/icono_seguridad.svg",alt="icono seguridad",class="img-fluid mb-4")
                  h2.mb-4 Seguridad
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque odio, accumsan nec viverra a, ornare eu ipsum. Sed a mi eget quam ullamcorper mollis ac blandit dolor.

               .col-md-4
                  img(src="/img/icono_destinos.svg",alt="icono destinos",class="img-fluid mb-4")
                  h2.mb-4 Mejores Destinos
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque odio, accumsan nec viverra a, ornare eu ipsum. Sed a mi eget quam ullamcorper mollis ac blandit dolor. 

               .col-md-4
                  img(src="/img/icono_precios.svg",alt="icono precios",class="img-fluid mb-4")
                  h2.mb-4 Los Mejores Precios
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque odio, accumsan nec viverra a, ornare eu ipsum. Sed a mi eget quam ullamcorper mollis ac blandit dolor. 